label#tmb{
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items:center;
}
label#tmb input {
  display: none;
}

label#tmb.has-thumbnail{
  border: 0;
}
label#tmb.has-thumbnail img{
  display: none;
}
